@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto, sans-serif";
    background-image: url('../images/fondo-login.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.error {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.exito {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #537a4e;
    background-color: #d7dcf8;
    border: 1px solid #aebafc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 999;
}

.login-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

input[type="submit"] {
    cursor: pointer;
}

.me-custom{
    margin-right: 10rem;
}
